@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Define a color palette */
:root {
    --primary-color: #334257; /* Dark teal */
--secondary-color: #548CA8; /* Light teal */
--text-color: #EEEEEE; /* Light gray */
--background-color: #476072; /* Dark teal */

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

#top {
    color: var(--text-color);
    text-align: center;
    padding: 20px 0;
    z-index: 99;
    background-color: rgb(4, 28, 39);
    /* background: linear-gradient(to right, var(--primary-color), var(--secondary-color)); */
}

#main {
    width: 100%;
    background-color: rgb(3, 16, 24);
    /* background-color: var(--background-color); */
}

#container {
    padding: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.apk {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    padding: 20px;
    border-radius: 10px;
    flex-basis: calc(50% - 20px);
    /* background: linear-gradient(to right, var(--primary-color), var(--secondary-color)); */
    color: var(--text-color); /* Set text color to white */
    margin-bottom: 1px;
    overflow: hidden;
    background-color: rgb(4, 28, 39);
}

.apk:hover {
    transform: translateY(-5px); /* Move up slightly on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Add a larger shadow on hover */
}

.details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    padding: 7px;
    margin: 20px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    overflow: hidden;
}

.icon img {
    width: 100%;
    height: auto;
}

.details-text {
    color: var(--text-color); /* Set text color to white */
}

.details-text h1 {
    font-size: 16px;
    margin-bottom: 5px;
}

.details-text p {
    font-size: 12px;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .apk {
        flex-basis: calc(100% - 20px); /* Adjust width for smaller screens */
    }
}